body * {
    font-family: 'Satisfy', cursive;   
}
a{
    font-size: 1.25rem;  
}
#sitename {
    font-size: 2.25rem;
}
.carousel { 
    height: calc(100vh - 56px);
}
.carousel-inner,.carousel-item {
    height: 100%;
}
.carousel-item { 
    background-color: #000;
}
.carousel-item img { 
    height: 100%; object-fit: cover; object-position: center;
}

.card {
    display:inline-block;
}
.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 62%;
}
#aboutcontent{
    font-size: 1.25rem;
    margin-left: 570px;   
}
flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  flex-container::before {
    content: "";
  }
  
  flex-container::after {
    content: "";
  }
  

